$containerWidth: 1260px;
$containerPadding: 15;
$breakpoint1450: 1449.98 + px;
$bpreakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

$primaryColor: #ffffff;
$secondaryColor: #808080;
